.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px 20px;
  .songContainer {
    display: flex;
    flex-direction: row;
    gap: 15px;
    .image {
      width: 60px;
      height: 60px;
      border-radius: 10px;
      overflow: hidden;
    }
    .mation {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .name {
        font-size: 0.9rem;
        padding: 0;
        margin: 0;
      }
      .singer {
        font-size: 0.8rem;
        font-weight: 200;
        padding-top: 5px;
        color: rgb(162, 174, 188);
      }
    }
    .actions {
      display: flex;
      gap: 15px;
      align-items: center;
    }
  }
  .mediaPlayer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
    .actions {
      display: flex;
      gap: 15px;
      width: 100%;
      align-items: center;
      justify-content: center;
    }

    .slideSeek {
      width: 100%;
      padding-top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      .duration {
        font-size: 12px;
        margin: 0px 10px;
      }
    }
  }
}
