.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: unset;
  padding: 0px 20px;
  .songContainer {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    position: relative;
    flex: 1;
    overflow: unset;
    .fly {
      position: absolute;
      z-index: 1000;
    }
    .image {
      width: 62px;
      height: 62px;
      overflow: hidden;
      border-radius: 50%;
      .rotate {
        animation: rotating 20s linear infinite;
      }
    }
    .mation {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .name {
        font-size: 0.9rem;
        padding: 0;
        margin: 0;
      }
      .singer {
        font-size: 0.8rem;
        font-weight: 200;
        padding-top: 5px;
        color: rgb(162, 174, 188);
      }
    }
    .actions {
      display: flex;
      gap: 15px;
      align-items: center;
    }
  }
  .mediaPlayer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex: 3;
    .actions {
      display: flex;
      gap: 15px;
      width: 100%;
      align-items: center;
      justify-content: center;
    }

    .slideSeek {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .duration {
        font-size: 12px;
        margin: 0px 10px;
      }
    }
  }
  .flexEnd {
    justify-content: flex-end;
  }
}
.icon {
  padding: 20px;
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
