.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.footer {
    display: flex;
    padding: 15px 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (prefers-color-scheme: dark) {

    .card,
    .footer {
        border-color: #222;
    }

    .code {
        background: #111;
    }

    .logo img {
        filter: invert(1);
    }
}
.sidebar {
    width: 240px;
    background-color: hsla(0,0%,100%,0.05);
}
.mainContainer {
    
}
.sidebarLeft {

}
