.logo {
    width: 240px;
    height: 70px;
    padding: 0 25px 0 28px;
    display: flex;
    align-items: center;
}
.row {
    display: flex;
    align-items: center;
    padding: 3px 30px;
}
.active {
    background-color: rgb(62, 50, 77);
    border-left: 3px solid rgb(152, 86, 233);
}
.navbarTitle {
    font-weight: bold;
    font-size: 14px;
    margin-left: 10px;
    color: rgb(231, 223, 241);
}
.hightLight {
    background-color: red;
    color: white;
    padding: 0px 5px;
    border-radius: 5px;
    margin-left: 10px;
}
.divider {
    margin: 15px 25px; 
    border-bottom: 1px solid rgb(231, 223, 241, .2);
    width: 75%;
}