
html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  letter-spacing: .5px;
  font-family: Inter, sans-serif;
  --seek-before-width: 0%;
  --volume-before-width: 100%;
  --buffered-width: 0%;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: #170f23;
  }
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

*::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #736980;
}
*{
  overflow-y: auto;
}
output {
  display: inline-block;
  text-align: center;
}
#volume-slider,#seek-slide {
  margin: 10px 2.5%;
  width: 58%;
}
#volume-slider::-webkit-slider-runnable-track, #seek-slide::-webkit-slider-runnable-track {
  background: rgba(144, 163, 171, 0.6);
}
#volume-slider::-moz-range-track, #seek-slide::-moz-range-track{
  background: rgba(4, 27, 37, 0.6);
}
#volume-slider::-ms-fill-upper, #seek-slide::-ms-fill-upper{
  background: rgba(4, 20, 27, 0.6);
}
#volume-slider::before, #seek-slide:::before {
  width: var(--volume-before-width);
}

input[type="range"] {
  position: relative;
  -webkit-appearance: none;
  width: 48%;
  margin: 0;
  padding: 0;
  height: 19px;
  float: left;
  outline: none;
  background: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}
input[type="range"]::before {
  position: absolute;
  content: "";
  top: 8px;
  left: 0;
  width: var(--seek-before-width);
  height: 3px;
  background-color: #bec6ca;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none;
  box-sizing: content-box;
  border: 1px solid #bfc5c8;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: rgb(175, 92, 92);
  cursor: pointer;
  margin: -3px 0 0 0;
}
input[type="range"]:active::-webkit-slider-thumb {
  background: #768084;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: linear-gradient(to right, rgba(209, 215, 217, 0.6) var(--buffered-width), rgba(30, 31, 32, 0.2) var(--buffered-width));
}
input[type="range"]::-moz-range-progress {
  background-color: #226383;
}
input[type="range"]::-moz-focus-outer {
  border: 0;
}
input[type="range"]::-moz-range-thumb {
  box-sizing: content-box;
  border: 1px solid #007db5;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}
input[type="range"]:active::-moz-range-thumb {
  transform: scale(1.2);
  background: #007db5;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: transparent;
  border: solid transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background-color: #007db5;
}
input[type="range"]::-ms-fill-upper {
  background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}
input[type="range"]::-ms-thumb {
  box-sizing: content-box;
  border: 1px solid #007db5;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}
input[type="range"]:active::-ms-thumb {
  transform: scale(1.2);
  background: #007db5;
}